@use "mixins";
@use "variables";

.header {
    background-color: variables.$secondary-color;
    padding-top: 3em;

    &__nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: variables.$wrapper;
    }

    &__logo-image {
        width: 9em;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        &-item {
            list-style: none;
            margin: 0 1.5em;
        }

        &-link {
            color: variables.$primary-color;
            font-size: 1.1em;
            text-decoration: none;
            font-weight: bold;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__search {
        display: flex;
        align-items: center;
        margin: 0 1em;
        border-radius: 20px;
        padding: 0.5em;
        height: 2.5em;
        background-color: white;

        &-input {
            border: none;
            width: 16em;
            height: 2em;
            border-radius: 20px;
            padding: 0.5em;
            font-size: 1em;
            outline: none;
        }

        &-icon {
            width: 1.5em;
        }
    }

    &__login-btn {
        @include mixins.main-btn;
    }

    ////////////////////////

    &__banner {
        padding: variables.$wrapper;
        padding-top: 2em;
        display: flex;

        &-content {
            @include mixins.banner-content;
        }

        &-title {
            @include mixins.banner-title;
        }

        &-subtitle {
            @include mixins.banner-subtitle;
        }

        &-text {
            @include mixins.banner-text;
        }

        &-buttons {
            @include mixins.banner-btn;
        }

        &-button--primary {
            @include mixins.secondary-btn;
            margin-right: 1em;
        }

        &-button--secondary {
            @include mixins.main-btn;
        }

        &-image {
            @include mixins.banner-img;
        }
    }
}
