.header {
  background-color: #fceed5;
  padding-top: 3em;
}
.header__nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw;
}
.header__logo-image {
  width: 9em;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header__menu-item {
  list-style: none;
  margin: 0 1.5em;
}
.header__menu-link {
  color: #003459;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__search {
  display: flex;
  align-items: center;
  margin: 0 1em;
  border-radius: 20px;
  padding: 0.5em;
  height: 2.5em;
  background-color: white;
}
.header__search-input {
  border: none;
  width: 16em;
  height: 2em;
  border-radius: 20px;
  padding: 0.5em;
  font-size: 1em;
  outline: none;
}
.header__search-icon {
  width: 1.5em;
}
.header__login-btn {
  width: 12em;
  height: 3em;
  border-radius: 20px;
  border: none;
  background-color: #003459;
  color: white;
  cursor: pointer;
}
.header__login-btn:hover {
  background-color: rgb(0, 22.202247191, 38);
  transition: background-color 0.3s ease;
}
.header__banner {
  padding: 0 8vw;
  padding-top: 2em;
  display: flex;
}
.header__banner-content {
  width: 50%;
  padding: 2em 10em 0 0;
}
.header__banner-title {
  font-size: 3.5em;
  font-weight: 1000;
  color: #003459;
  padding-bottom: 0.1em;
}
.header__banner-subtitle {
  font-size: 2.5em;
  color: #003459;
  padding-bottom: 0.6em;
}
.header__banner-text {
  font-size: 0.7em;
  color: #003459;
  padding-bottom: 3em;
}
.header__banner-buttons {
  display: flex;
  align-items: center;
}
.header__banner-button--primary {
  width: 12em;
  height: 3em;
  border-radius: 20px;
  background-color: transparent;
  color: #003459;
  border: 2px solid #003459;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  cursor: pointer;
  margin-right: 1em;
}
.header__banner-button--primary:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.header__banner-button--secondary {
  width: 12em;
  height: 3em;
  border-radius: 20px;
  border: none;
  background-color: #003459;
  color: white;
  cursor: pointer;
}
.header__banner-button--secondary:hover {
  background-color: rgb(0, 22.202247191, 38);
  transition: background-color 0.3s ease;
}
.header__banner-image {
  width: 50%;
}

.main {
  padding: 0 8vw;
  padding-top: 3em;
}
.main__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fceed5;
  border-radius: 20px;
  margin: 2em 0;
}
.main__banner-image {
  width: 50%;
}
.main__banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 6em;
}
.main__banner-title {
  font-size: 3.5em;
  font-weight: 1000;
  color: #003459;
  padding-bottom: 0.1em;
}
.main__banner-subtitle {
  font-size: 2.5em;
  color: #003459;
  padding-bottom: 0.6em;
}
.main__banner-text {
  font-size: 0.7em;
  color: #003459;
  padding-bottom: 3em;
}
.main__banner-buttons {
  display: flex;
  align-items: center;
}
.main__banner-button--primary {
  width: 12em;
  height: 3em;
  border-radius: 20px;
  background-color: transparent;
  color: #003459;
  border: 2px solid #003459;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  cursor: pointer;
  margin-right: 1em;
}
.main__banner-button--primary:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.main__banner-button--secondary {
  width: 12em;
  height: 3em;
  border-radius: 20px;
  border: none;
  background-color: #003459;
  color: white;
  cursor: pointer;
}
.main__banner-button--secondary:hover {
  background-color: rgb(0, 22.202247191, 38);
  transition: background-color 0.3s ease;
}

.pets,
.actuality {
  display: flex;
  justify-content: space-between;
}
.pets__title-main,
.actuality__title-main {
  font-size: 1em;
  font-weight: normal;
  padding-bottom: 0.25em;
}
.pets__title-sub,
.actuality__title-sub {
  font-size: 1.5em;
  font-weight: bold;
  color: #003459;
  padding-bottom: 1em;
}
.pets__button,
.actuality__button {
  width: 12em;
  height: 3em;
  border-radius: 20px;
  background-color: transparent;
  color: #003459;
  border: 2px solid #003459;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  cursor: pointer;
  margin-top: 1em;
}
.pets__button:hover,
.actuality__button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.pets__container,
.actuality__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pets__card,
.actuality__card {
  width: 24%;
  height: 25em;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pets__card:hover,
.actuality__card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.pets__card-image,
.actuality__card-image {
  width: 100%;
  height: 15em;
  border-radius: 20px;
  object-fit: cover;
}
.pets__card-title,
.actuality__card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #003459;
  padding-top: 1em;
}
.pets__card-characteristic,
.actuality__card-characteristic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12em;
}
.pets__card-gender, .pets__card-separator, .pets__card-age,
.actuality__card-gender,
.actuality__card-separator,
.actuality__card-age {
  font-size: 0.8em;
  color: gray;
}
.pets__card-price,
.actuality__card-price {
  font-size: 1em;
}

.actuality__card {
  width: 24%;
  height: 25em;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
  width: 31%;
  height: 30em;
}
.actuality__card-knowledge {
  font-size: 0.8em;
  background-color: #00a7e7;
  width: 8em;
  margin: 0.25em 0;
  display: flex;
  padding: 0.4em;
  justify-content: center;
  color: white;
  border-radius: 16px;
}
.actuality__card-title {
  padding-top: 0.25em;
}

.actuality-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  background-color: #fceed5;
  padding-bottom: 3em;
}
.footer__section {
  padding: 0 8vw;
  padding-top: 4em;
  margin-top: 3em;
}
.footer__newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003459;
  color: white;
  padding: 1.5em;
  border-radius: 10px;
}
.footer__newsletter-title {
  font-size: 1.5em;
  line-height: 1.5em;
}
.footer__newsletter-input, .footer__newsletter-button, .footer__newsletter-field {
  width: 70%;
  height: 4em;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  font-size: 1em;
  outline: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__newsletter-field {
  width: 79%;
  height: 100%;
  padding: 0 1.5em;
  border: 0.5px solid gray;
}
.footer__newsletter-button {
  width: 12em;
  height: 3em;
  border-radius: 20px;
  border: none;
  background-color: #003459;
  color: white;
  cursor: pointer;
  border-radius: 4.7px;
  width: 20%;
  justify-content: center;
}
.footer__newsletter-button:hover {
  background-color: rgb(0, 22.202247191, 38);
  transition: background-color 0.3s ease;
}
.footer__category-item {
  cursor: pointer;
}
.footer__content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
}
.footer__category-list {
  display: flex;
  list-style: none;
  width: 28em;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  list-style: none;
  width: 28em;
  justify-content: space-between;
  width: 13em;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  align-items: center;
}
.footer__divider {
  border: 0.2px solid rgba(102, 116, 121, 0.1411764706);
}
.footer__policies {
  color: #667479;
  display: flex;
  width: 23%;
  justify-content: space-between;
}
.footer__policy {
  cursor: pointer;
}
.footer__copyright {
  color: #667479;
}
.footer__logo {
  width: 8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fdfdfd;
}

/*# sourceMappingURL=main.css.map */
